<section class="section favorites">
    <div class="container">
    <!-- <button class="white btn">Order Now</button> -->
    <h2 class="section-title favorites">Some of Our Favorites</h2>
    <p class="fav-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    
    <ul class="fav list">
      <li class="fav-item border-fav">
        <a href=""><img src="./img/gamburger.png" alt width="315" height="315"></a>
      </li>
      <li class="fav-item border-fav">
        <a href=""><img src="./img/pasta.png" alt width="315" height="315"></a>
      </li>
      <li class="fav-item border-fav">
        <a href=""><img src="./img/pizza.png" alt width="315" height="315"></a>
      </li>
      <li class="fav-item border-fav">
        <a href=""><img src="./img/chicken.png" alt width="315" height="315" ></a>
      </li>
      <li class="fav-item border-fav">
       <a href=""> <img src="./img/salat.png" alt width="315" height="315"></a>
      </li>
      <li class="fav-item border-fav">
        <a href=""><img src="./img/borshch.png" alt width="315" height="315">
      </li>
        </a>
    </ul> 
    </div>
    </section>
    