<!-- Footer -->
<div class="container footer">
  <div class="top-footer">
    <div class="picture-logo">
      <img src="./img/vector.png" alt="logo-picture" />
    </div>
    <div class="footer-menu">
      <ul class="footer-menu-ul">
        <li class="footer-menu-li"><a href="#">Home</a></li>
        <li class="footer-menu-li"><a href="#">About</a></li>
        <li class="footer-menu-li"><a href="#">Service</a></li>
        <li class="footer-menu-li"><a href="#">Menu</a></li>
        <li class="footer-menu-li"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer-subscribe-part">
      <h3 class="subscribe-label">Subscribe</h3>
      <div class="form-and-button">
        <form action="">
          <input
            type="email"
            name="e-mail"
            placeholder="Enter your email"
            class="email-subscribe-field"
            title="Enter your valid e-mail adress ple-e-e-ase)))"
          />
        </form>
        <button type="submit" class="footer-btn">Subscribe</button>
      </div>
      <p class="subscribe-text">
        By subscribing you agree to with our
        <span class="private-policy"><a href="#">Privacy Policy</a></span>
      </p>
    </div>
  </div>

  <div class="bottom-footer">
    <div class="bottom-links">
      <ul class="bottom-links-ul">
        <li class="bottom-links-li"><a href="#">Privacy Policy</a></li>
        <li class="bottom-links-li"><a href="#">Terms of Service</a></li>
        <li class="bottom-links-li"><a href="#">Cookies Settings</a></li>
      </ul>
    </div>
    <div>
      <p class="all-right-reserved">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</div>
