 <!-- Add the slick-theme.css if you want default styling -->
 <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
 <!-- Add the slick-theme.css if you want default styling -->
 <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
 <!-- Custom styles -->
 <link rel="stylesheet" href="./flex.css" />

 
<!-- Hero / Evgenia -->
<section class="container hero">
    <div class="hero-list">
        <h1 class="hero-text">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="hero-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
            libero
            vitae erat.</p>
        <button class="primary-btn" type="button">Order Now</button>
    </div>

    <div class="slider myslyder slider-container">
        <div class="slider__item">
            <img srcset="./img/hero/Foto292.png 292w,
                ./img/hero/Foto584.png 584w,
                ./img/hero/Foto528.png 528w,
                ./img/hero/Foto1056.png 1056w" sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
                src="./images/hero/Foto528.png" alt="Food">
        </div>
        <div class="slider__item">
            <img srcset="./img/hero/pngwing292.png 292w,
                ./img/hero/pngwing584.png 584w,
                ./img/hero/pngwing528.png 528w,
                ./img/hero/pngwing1056.png 1056w" sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
                src="./img/hero/pngwing528.png" alt="Food">
        </div>
        <div class="slider__item">
            <img srcset="./img/hero/chrisralston292.png 292w,
                ./img/hero/chrisralston584.png 584w,
                ./img/hero/chrisralston528.png 528w,
                ./img/hero/chrisralston1056.png 1056w"
                sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
                src="./img/hero/chrisralston528.png" alt="Food">

        </div>
    </div>

</section>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="./js/slider.js"></script>