<section class="offerings-section container">
  <div class="block-apple">
    <ul>
      <li class="ellipse-1"></li>
      <li class="ellipse-2"></li>
      <li class="apple">
        <img
          class="offerings-img"
          src="./img/aple.png"
          alt="Apple"
          width="396"
          height="502"
        />
      </li>
    </ul>
  </div>

  <div class="offerings-right">
    <h2 class="offerings-title">What’s Special About Our Offerings</h2>
    <p class="offerings-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="offerings-list list item-gen">
      <li class="subtitle-item rocket-launch">
        <h3 class="offerings-subtitle">Fasest Delivery</h3>
        <p class="offerings-text-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="subtitle-item touch-app">
        <h3 class="offerings-subtitle">Easy To Order</h3>
        <p class="offerings-text-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <button class="offerings-btn" type="button">Order Now</button>
  </div>
</section>
