<section class="section-subscribe">
          <div class="container subscribe">
            <div class="subscribe-inside-wrapper">
              <div class="subscribe-info">
                  <h2 class="title subscribe">Subscribe To Get Special Offers</h2>
                  <p class="text-subscribe">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                  <form class="subscribe-form">
                      <input type="email" name="email" placeholder="Enter your e-mail" required class="subscribe-input" title="Write your fool e-mail adress here!">
                      <button type="submit" value="Subscribe" class="subscribe-btn">Subscribe</button>
                  </form>
              </div>
              <img  srcset="./img/banan_subscr2x.png 2x,
                            ./img/banan_subscr1x.png 1x"
                    src="./img/banan_subscr1x.png"
                    alt="banan"
                    class="banan-pic"
                    size="608px"
                    loading="lazy">
            </div >
         </div>
      </section>
    </main>