body {
   color: var(--primary-text-color);
   font-size: 16px;
   font-family: var(--primary-font);
   letter-spacing: 0.02em;
   margin: 0;
}

.visually-hidden {
   position: absolute;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   height: 1px;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   width: 1px;
   overflow: hidden;
}

/* container */

.container {
   width: 100vw;
   padding-left: 16px;
   padding-right: 16px;
   margin-right: auto;
   margin-left: auto;
}

.container {
   width: 1280px;
}