/* *Видали потім цей кусок,абе перенеси у стилі * */
/* .container{
    padding: 0;
} */
/* ************ */

.section.favorites{
    text-align: center;
    padding: 60px 0;
 }

 @media screen and (min-width: 768px) {
    .section.favorites{
        padding: 100px 0;
    }
 }

 
 @media screen and (max-width: 1279px) {
   .white.btn{
      display: none;
   }
 }
 
 
.section-title.favorites{
   margin-bottom: 20px;
}

.fav-text{
   margin-bottom: 60px;
}
 
@media screen and (min-width: 1280px) {
   .fav-text{
      margin-bottom: 40px;
   }
}

.fav.list{
   display: flex;
   flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
   .fav.list{
      margin-top: -32px;
      margin-left: -32px;
   }
}

 /* * Mobile */
.fav-item{
   cursor: pointer;
}

@media screen and (max-width: 767px) {
   .fav-item{
      width: 100%;
      margin-bottom: 20px;
      height: 282px;
      cursor: pointer;
   }
 }
 @media screen and (max-width: 767px){
   .fav-item:nth-child(n+4){
      display: none;
   }
}

 /* *Tablet */
 @media screen and (min-width: 768px){
    .fav-item{
        width: calc(100% / 2 - 32px);
        margin-top: 32px;
        margin-left: 32px;
        height: 338px;
    }
 }

 /* *Desktop */
 @media screen and (min-width: 1280px){
   .fav-item{
      width: calc(100% / 3 - 32px);
      height: 397px;
   }
}
 
.border-fav{
   display: flex;
   align-items: center;
   justify-content: center;
   border: 16px solid var(--yellow-main-color);
   border-radius: 50%;
 }
 
.border-fav:active{
   border-color: var(--button-green-color);
 }