.button {
   color: var(--primary-text-color);
   font-size: 13px;
   font-weight: 500;
   line-height: 1.5;
   display: flex;
   align-items: center;
   background-color: var(--white-color);
   border: none;
   border-radius: 30px;
   cursor: pointer;
   min-width: 98px;
   height: 32px;
   padding: 6px 18px 6px 18px;
}

.header {
   display: flex;
   box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
   text-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-logo {
padding: 10px 0px;
}

.link-nav {
   text-decoration: none;
   font-family: inherit;
   color: inherit;
   cursor: pointer;
   padding-top: 28px;
   padding-bottom: 28px;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.14;
}

.link-nav:hover,
.link-nav:focus {
   color: var(--button-green-color);
   text-decoration: underline;
}

.btn-header {
   background-color: var(--button-green-color);
}

.btn-header:hover,
.btn-header:focus {
   background-color: var(--yellow-main-color);
}


/* ==================== Mobile menu-burger / Start ==================== */

@media screen and (min-width: 479px) {
   .icon-gg_menu {
      display: none;
   }
   .mobile-menu {
      display: none;
   }
   .action-nav {
      display: none;
   }
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 28px;
  min-height: 28px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
   .action-nav {
      display: flex;
      align-items: center;
      margin-left: auto;
   }
}

.site-nav {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 28px;
   margin-right: 30px;
   line-height: 1.14;
}

/* ==================== Mobile menu-burger / Finish ==================== */